<h1>Editing db connection</h1>

<%= render "form", db_connection: @db_connection %>

<br>

<div>
  <%= link_to "Show this db connection", @db_connection %> |
  <%= link_to "Back to db connections", db_connections_path %>
</div>